@font-face {
    font-family: 'Ramona';
    src: url('Ramona.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center; /* Центровка контейнера по горизонтали */
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden; /* Убираем скроллинг */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 20px; /* Отступ слева для смещения контейнера вправо */
    text-align: center;
}

.counter {
    font-family: 'Ramona', sans-serif;
    font-size: 50px; /* Уменьшен размер шрифта */
    margin-bottom: 10px;
}

.coin {
    width: auto;
    height: 50%; /* Монета занимает 50% высоты экрана */
    max-height: 50vh; /* Ограничиваем максимальную высоту монеты */
    transition: transform 0.1s ease;
    cursor: pointer;
}

/* Анимация уменьшения монеты при клике */
.coin.active {
    transform: scale(0.9);
}
